.history-slider {
  position: relative;
  margin-top: 56px;

}
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -60px;
  z-index: 10;
}
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -60px;
  z-index: 10;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}
