.history-slider {
  position: relative;
}
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}