:global {
  .swiper {
    padding-bottom: 100px;
  }
  .swiper-pagination-bullet {
    background-color: var(--main-color);
    opacity: 0.4;
    @media(max-width: 480px) {
      width: 6px;
      height: 6px;
    }
  }
  .swiper-pagination-bullet-active {
    background-color: var(--main-color);
    opacity: 1;
  }
}
.history-slider {
  position: relative;
  margin-top: 56px;
}
.next {
  position: absolute;
  top: calc(50% - 80px);
  transform: translateY(-50%);
  right: -60px;
  z-index: 10;
}
.prev {
  position: absolute;
  top: calc(50% - 80px);
  transform: translateY(-50%);
  left: -60px;
  z-index: 10;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}
