.history {
  padding: 50px 0;
  &__title {
    padding-left: 78px;
    width: 353px;
  }
  &__circle-wrapper {
    position: relative;
  }
  &__circle {
    margin: 0 auto;
  }
  &__line-center {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -10;
  }
}
@media(max-width: 1100px) {
  // .history__dates {
  //   font-size: 150px;
  // }
}
@media(max-width: 992px) {
  .history {
    &__title {
      font-size: 46px;
    }
  }
} 
@media(max-width: 900px) {
  .history__dates {
    font-size: 120px;
  }
}
@media(max-width: 768px) {
  .history__title {
    font-size: 36px;
    width: 230px;
  }
} 
