.history {
  &__title {
    padding-left: 78px;
    width: 353px;
  }
  &__circle-wrapper {
    position: relative;
  }
  &__line-center {
    
  }

}

.circle {
  margin: 0 auto;
}
.divider_horizontal {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -10;
}

