.arrow-button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color-rgba);
  background-color: transparent;
  border-radius: 100%;
  cursor: pointer;
}
.arrow-button_slider {
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
  svg path {
    stroke: var(--light-accent-color);
  }
}
.left {
  transform: rotate(0deg);
}
.right {
  transform: rotate(180deg);
}
.disabled {
  opacity: .5;
}
